.textnumber{
  margin-top: 10px;
  width: 25px;
}

.how-to{
  display: flex;
}

div.input-names{
  width: 500px;
}

#recipe-name{
  background-color: #e9ecef;
}

div.recipe-description{
  height: 150px;
}

#recipe-description{
  background-color: #e9ecef;
}

i.far{
  font-size: 50px;
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
}

div.image-forms{
  display: grid;
  justify-content: center;
}

#uploader{
  width: 318px;
}

#portions-select{
  width: 120px;
  background-color: #e9ecef;
  
}

#time-input{
  width: 120px;
  background-color: #e9ecef;
}

div.ingredients{
  margin-bottom: 15px;
}

div.amount{
  display: flex;
}


/* @media only screen and (max-width: 700px) {
  div.right {
    margin-top: 60px;
  }
} */

div.underleft{
  padding-top: 50px;
}

.form-control-text{
  background-color: #e9ecef;
  width: 100%;
}

div.text-input{
  padding-bottom: 15px;
  width: 100%;
}

.text-input p{
  width: 20px;
}

.ravara-input{
  background-color: #e9ecef;
  width: 137px;
}

.amount-input{
  background-color: #e9ecef;
  width: 80px;
}

.amount-select{
  width: 100px;
  background-color: #e9ecef;
}

.gram-input{
  background-color: #e9ecef;
  width: 80px;
}

input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.submit-btn{
  background-color:#e26e21;
  color: #fff;
}

.submit-btn:hover{
  background-color:  #d8570c;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.submit-btn:focus{
box-shadow: none;
}

#add-ingredient-btn{
  background-color:  #d3d3d3;
  color: #000;
}

#add-ingredient-btn:hover{
  background-color:  #777777;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fff;
}

#add-howto-btn{
  background-color:  #d3d3d3;
  color: #000;
}

#add-howto-btn:hover{
  background-color:  #777777;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fff;
}

#button-add{
  background-color:  #d3d3d3;
  color: #000;
}

#button-add:hover{
  background-color:  #777777;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fff;
}

/*.admin-container:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;

  // background-color: rgb(255, 255, 255)
  background-image: url("/imgs/food-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  
  filter: blur(2px); 
}

.admin-container {
  overflow: auto;
  position: relative;
}*/

body .admin-container{
  background-image: url("/imgs/food-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#browser-input{
  cursor: pointer;
}  

i.fa-times{
  margin-right: 13px;
  color: red; 
  cursor: pointer;
 }

 #remove-howto-btn{
   margin-top: 16px;
 }

 #remove-ingredient-btn{
  margin-top: 11px;
 }

 .small-one{
  margin-top:15px;
 }

 .small-two{
  margin-top:15px;
 }

 .small-three{
   margin-bottom: 15px;
 }

 .small-four{
   margin-bottom: 15px;
 }

 .small-five{
   margin-left: 28px;
   margin-bottom: 15px;
 }

 .small-six{
   margin-left: 55px;
   margin-bottom: 15px;
 }

 .flex-column{
   display: flex;
   flex-direction: column;
 }

