@import "recipe.scss";
@import "nav.scss";
@import "addRecipe.scss";
@import "startsidan.scss";
@import "searchresult.scss";


@font-face {
  font-family: Gotham;
  src: url('../../font/gotham-book-regular.otf'), url('../../font/gotham-book-regular.otf') format('gotham');
}

body, html {
  overflow-x: hidden;
  font-family: 'Gotham', sans-serif;
  background-color: #f0f0f0;
  
}

// .search-bar {
//   position: absolute;
//   top: 50%;
//   left: 42%;
//   @media screen and (max-width: 768px) {
//     position: unset;
//   }
// }

//"?"
.card { 
  width: 17rem;
}
//"?"

/* Flip image */
.flip-box {
  width: 50vw;
  height: 30vw;
  margin: 50px auto;
  perspective: 1000px;
}

.flip-img, .front, .back{
  width: 100%;
  height: 100%;
}

.flip-img {
  position: relative;
  transform-style: preserve-3d;
  transition: .5s;
  box-shadow: 0 0 10px 2px grey;
  border: 10px solid white;
  border-radius: 10px;
}

.breakfast {
  width: 100%;
  height: 100%;
}

.front {
  position: absolute;
  cursor: pointer;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background: #fff;
  padding: 20px;
  color: #000;
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  transition: opacity 0s;
  opacity: 0;
}

.flip-box:hover .flip-img {
  transform: rotateY(180deg);
}
.flip-box:hover .flip-img .back {
  transition: opacity 0.5s;
  opacity: 1;
}
//END flip img

.no-result-wrapper{
  height: 100vh;
}

.loader{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #BC6337;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #BC6337 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}