#search{
  width: 90%;
}

@font-face{
  font-family: Gotham;
  src: url('../../font/gotham-book-regular.otf'), url('../../font/gotham-book-regular.otf') format('gotham');
}
body {
  font-family: 'Gotham', sans-serif;
}

.logga {
  width: 140px;
}

.navbar-nav {
  font-size: 15px;
  margin-left: 40px;
}

.nav-item {
  margin-left: 20px;
}

.side-menu-wrapper{
  width: 300px;
  height: 100vh;
}

.side-menu-card{
  border-radius: 0;
}

.btn-category{
  color: #B1B2AD
}

.btn-category:hover{
  color: #E22331;
}

.btn-category:focus{
  box-shadow: none;
}

.sub-categories-card{
  background-color: #000;
  padding: 0;
}

.search-bar {
  position: absolute;
  top: 50%;
  left: 42%;
}




div.input-name{
  width: auto;
  padding-top: 50px;
}

@media only screen and (min-width: 680px) {
  div.input-name {
    max-width: 500px;
  }
  div.input-names{
    display: flex;
    justify-content: center;
  }
}

.upload-img{
  width: 400px;
  height: 400px;
}

i.far{
  font-size: 50px;
  display: flex;
  align-items: center;
  padding: 60px;
  border: 1px solid lightgrey;
}

div.image-forms{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 100px;
}

.forms{
  margin-left: 20px;
}

.select-button{
  width: 100px;
}

div.ingredients{
  display: flex;
  margin-bottom: 15px;
}

div.amount{
  display: flex;
}

div.under{
  padding-top: 40px;
}

/* div.left h5{
  padding-bottom: 15px;
  padding-left: 17px;
}

div.right h5{
  padding-bottom: 15px;
  padding-left: 20px;
} */

@media only screen and (max-width: 700px) {
  div.right {
    margin-top: 60px;
  }
}

div.underleft{
  padding-top: 50px;
}

.form-control-text{
  width: 500px;
}

div.text-input{
  display: flex;
  align-items: baseline;
  padding-bottom: 15px;
}

.text-input p{
  width: 20px;
}

div.how-to{
  display: block;
}

footer{
  height: 100px;
  background-color: grey;
  margin-top: 50px;
}