#search{
  width: 90%;
}

@font-face{
  font-family: Gotham;
  src: url('../../font/gotham-book-regular.otf'), url('../../font/gotham-book-regular.otf') format('gotham');
}
body {
  font-family: 'Gotham', sans-serif;
}

.logga {
  width: 140px;
}

.navbar-nav {
  font-size: 15px;
  margin-left: 40px;
}

.nav-item {
  margin-left: 20px;
}

.side-menu-wrapper{
  width: 300px;
  height: 100vh;
}

.side-menu-card{
  background-color: #000;
  border-radius: 0;
}

.btn-category{
  color: #B1B2AD
}

.btn-category:hover{
  color: #E22331;
}

.btn-category:focus{
  box-shadow: none;
}

.sub-categories-card{
  background-color: #000;
  padding: 0;
}

.people-button {
  vertical-align: middle;
}