#search{
  width: 90%;
}

@font-face{
  font-family: Gotham;
  src: url('../../font/gotham-book-regular.otf'), url('../../font/gotham-book-regular.otf') format('gotham');
}
body {
  font-family: 'Gotham', sans-serif;
}

.logga {
  width: 140px;
}

.navbar-nav {
  font-size: 15px;
  margin-left: 40px;
}

.nav-item {
  margin-left: 20px;
}

.side-menu-wrapper{
  width: 100px;
  height: 100vh;
}

.side-menu-card{
  border-radius: 0;
}

.btn-category{
  color: #B1B2AD
}

.btn-category:hover{
  color:black;
}

.btn-category:focus{
  box-shadow: none;
}

.sub-categories-card{
  padding: 0;
}

.search-bar {
  position: absolute;
  top: 50%;
  left: 42%;
}

.card {
  width: 17rem;
}

.border-control {
  border-style: solid;
  border-width: 2px;
}

.recipe-layout {
  padding: 0 0 7px 7px;
}
